altair==5.5.0
annotated-types==0.7.0
attrs==25.1.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
faiss-cpu==1.10.0
google-ai-generativelanguage==0.6.10
google-auth==2.37.0
google-generativeai==0.8.3
huggingface-hub==0.27.1
numpy==2.0.2
pandas==2.2.3
protobuf==5.29.3
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
sentence-transformers==3.3.1
spacy==3.8.2
streamlit==1.42.0
tenacity==9.0.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.0
typing_extensions==4.12.2
urllib3==2.2.3
python-dotenv==1.0.1

